html, body {
    font-family: 'Lato', sans-serif;
    padding-top: 55px;
    min-height: 100%;
    position: relative;
}
.bg-black {
    background-color: black;
}
.test {
    color: #fff;
}
.bg-black2 {

    background-image: url(img/gradient.png);
    
    background-size: cover;
    left: 0;
    right: 0;
    bottom: 2%;
    width: 100%;
    margin-bottom: -20px;
}
.slider {
    margin: -100px 0px 0px 0px;
    padding: 0px;

}
.full1,.full2,.full3 {
    min-height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.full1 {
    background-image: url(img/1.png);
}.full2 {
    background-image: url(img/2.png);
}.full3 {
    background-image: url(img/3.png);
}
.about {
    min-height: 400px;
    padding: 100px 25px 50px 25px;
}
h1{
    font-size: 30px;
}
.off{
    padding-top: 70px;
    padding-bottom: 70px;
}
.center {
    text-align: center;
}
.carousel-indicators {
    left: 55%;
    margin-left: 0px;
    margin-right: 0px;
}
.slidertext{
    left: 57%;
    top: -180%;
    position: absolute;
}
.nyellow {
    background-color: #fce418;
    height: auto;
}
.ablack {
    background-color: #000;
    height: auto;
    right: 0;
}
.pad25{
    padding: 25px 0px;
}
.pad50{
    padding: 50px 0px;
}
.pad50_00{
    padding: 50px 0px 0px 0px;
}
.pad50_25{
    padding: 50px 0px 25px 0px;
}

.formul {
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    color: #555555;
    margin-top: 25px;
}
.formularz {
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    padding: 50px 0px;
}
.sign {
    float: right;
    margin-top: -20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 1px solid black;
}
.aboutb {
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.2;
  color: #666;
    border-right: 1px solid #e6e6e6;
}
blockquote::before{
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top:5px; 
}
.jar {
    float: left;
    display: block;
    line-height: 18px;
    padding: 15px 0px 15px 15px;
}
.opinion {
    background-color: #f6f6f6;
}
.bordop {
    border: none;
}
.opborder {
    border-bottom: 1px solid #e6e6e6;
    margin-left: -15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.img {
    clear: both;
    height: 70px;
}
.footer {
    background-color: #000;
    color: #bdbdbd;
    font-weight: 300;
    line-height: 18px;
    position: relative;
    width: 100%;
    bottom: 0;

}
.stroke {
    width: 100%;
    border-bottom: 1px solid white;
}
.over a{
    color: #bdbdbd;
    font-weight: 600;
    text-decoration: none;
    line-height: 26px;
}
.over {
    padding-top: 10px;
}
.produkty h3 {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
}
.produkty a:hover { 
    text-decoration: none;
}
.img-thumbnail {
    border: none;
}
.content {
    position: absolute;
    height: 100%;
}
.carousel-caption {
    left: 28%;
    bottom: 2.5%;
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    margin-left: 5px;
    margin-right: 5px;
}
.noned {
    text-decoration: none;
    color: black;
}
.noned:hover {
    text-decoration: none;
    color: black;
    opacity: 0.8;
}
.cont {
    margin: 10px;
    height: 45px;
    width: 32%;
    padding: 10px;
}
.cont2 {
    margin: 10px;
    min-height: 200px;
    width: 66%;
    padding: 10px;
}
.butt{
    margin: 10px;
    height: 55px;
    width: 66%;
    padding: 10px;
    background-color: #000;
    color: white;
    font-weight: 800;
    font-size: 20px;
}
@media only screen and (max-width: 767px) {
    .carousel-indicators {
    left: 0;
    right: 0;
}
    .carousel-caption, h3 {
        font-size: 24px;
        left: 0;
        right: 0;
    }
    .full1,.full2,.full3 {
    min-height: 60vh;
    }
    .formularz {
        width: 90%;
    }   
}
@media only screen and (max-width: 575px) {
    .carousel-caption, h3 {
        font-size: 20px;
        font-weight: 700;
    }
}
@media only screen and (min-width:768px) and (max-width: 1220px) {
.carousel-caption {
    left: 22%;
    bottom: 2.5%;
}
    .carousel-indicators {
     left: 43%;   
    }
}
@media only screen and (max-width: 950px) {
.carousel-caption, h3 {
        font-size: 24px;
        font-weight: 700;
    }
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */